html, body, div, span, applet,
object, iframe, h5, h6,
blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav,
output, ruby, section, summary,
time, mark, audio, video, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption,
figure, footer, header, hgroup,
menu, nav, section {
  display: block; }

ol,
ul {
  list-style: none; }
textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	border: none;
	text-align: left;
	font-size: 1em;
	vertical-align: middle;
	padding: 10px 15px;
	margin-bottom: 12px;
}

input, textarea {
	box-shadow: none !important;
	border-radius: 0; 
	width: 100%;
	border: none;
}

input:focus, textarea:focus, select:focus, option:focus {
	outline: none; 
}

input[type=text]{
	padding: 5px 10px;
	border-bottom: 1px solid rgba(0,0,0,0.8);
}
select{
	padding: 5px 10px;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.8);
}
input[type=radio], input[type=checkbox]{
	width: auto;
	height: 50px;
	vertical-align: middle;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c5c5c5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c5c5c5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c5c5c5;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c5c5c5;
}
body{
	background-color: #e3e3e3;
	font-family: monospace;
}
#main_wrapper{
	width: 1000px;
	background-color: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	margin: 50px auto;
	padding: 15px;
}
#main_wrapper h1{
	font-family: monospace;
	margin: 0;
	padding: 0px 0px 10px 0px;
}
.separator{
	border-bottom: 1px solid #000;
	width: 100px;
	margin-bottom: 20px;
}
.input_row{
	width: 100%;
	margin-bottom: 20px;
	overflow: auto;
}
.input_third{
	box-sizing: border-box;;
	padding: 0px 15px;
	width: 33.33333%;
	display: inline-block;
	float: left;
}
.input_half{
	box-sizing: border-box;;
	padding: 0px 15px;
	width: 50%;
	display: inline-block;
	float: left;
}
.input_fourth{
	box-sizing: border-box;;
	padding: 0px 15px;
	width: 25%;
	display: inline-block;
	float: left;
}
.myButton {
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    margin: 0px 15px;
}
#reset_button{
	background-color: #4D4D4D;
	margin: 0px;
}


/*custom forms classes*/
.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #cac7c7;;
    font-size: 18px;
    font-weight: 100;
    padding: 20px 30px;
    margin: -15px -15px 30px -15px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.error{
	border-color: red !important;
	color: red !important;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
/*================= end======================*/






.conditional_row{
	display: none;
}
#query_type_select_container{
	display: block;	
}
.conditional_row.active{
	display: block;
}
.on_key_class{
	display: none;
}
/*#on_a_key_container_inSelect, #on_a_key_container_inJoin{
	visibility: hidden;
	transition: .3s;
	opacity: 0;
}
#on_a_key_container_inSelect.visible, #on_a_key_container_inJoin.visible{
	visibility: visible;
	opacity: 1
}*/
#results_container{
	display: none;
	margin-top: 20px;
	padding-top: 20px;
}
#results_container h2{
	background-color: #2CBBBB;
	color: #fff;
	padding: 10px 30px;
	margin-bottom: 0px;
}

#results_container h4{
	font-weight: 600;
}
#results_container .input_third .result_inner_cont{
	border-right: 1px solid grey;
	margin: 20px 0px;
	padding: 0px 15px;
}
#results_container .input_third:last-child .result_inner_cont{
	border: none;
}
.table_wrapper{
	border-left: 4px solid #4D4D4D;
}
#results_container h5{
	font-weight: normal;
	font-size: 16px;
	margin-top: 10px;
}